@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    font-family: "Poppins", sans-serif !important;


}

.corpo {
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;

}

/*========= CORPO DO FORMULARIO =========*/
header {
    position: relative;
    top: 2rem;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.titulo {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 0.5rem;
    left: 33vw;

}

.fild_1 {
    display: flex;
    flex-direction: column;
    row-gap: 4.5vw;
    height: auto;
    width: 40vw;
    position: absolute;
    top: 55%;
    left: 50%;
    padding: 16px 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    color: white;
    border: 0.5px solid yellow;
}

h2 {
    color: white;
}


/*=====================*/
.BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 8vw;
}

button {
    border: 0;
    outline: none;
    padding: 10px 36px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #a5a5a5;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #ffffff;

}

.dv_ig a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.dv_ig a:hover {
    color: white;
    border-radius: 8px;
    background-color: #222;
}

p {
    position: relative;
    top: 10px;
}

/*=========== CORPO LATERAL ==========*/
.div_out {
    position: fixed;
    top: 28px;
    right: 0;
    max-width: 21rem;
    border-radius: 5px;
    border: solid 1px black;
    background-color: white;
    color: black;
    padding: 16px 20px;
    margin: 0 2rem;

}

.div1 {
    max-width: 22rem;
    border-radius: 5px;
    border: solid 1px black;
    background-color: #0e0e0e;
    color: white;
    margin: 12px 30px;
    padding: 4rem 12px;

}

.la {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 20px;
    background-color: white;
    border-right: 1px solid yellow;
}

/*========= INPUTS ===========*/
/*=====================*/
.dv1 {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;

}

.input-container {
    left: 4rem;
    height: 50px;
    position: relative;
    width: 15vw;
}

.input {
    background: #222;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 0px 20px 0;
    width: 100%;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-45px) translateX(-10px) scale(0.95);
}

.input:not(:placeholder-shown)~.placeholder {
    color: white;
}

.input:focus~.placeholder {
    color: white;
}

/*================= SELECT===============*/
.dvsec {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: center;
    border: none;
}
.dvsec:focus{
    border: none;
}