html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f3f3f4 !important;
}

/* ===============  MENU SUPERIOR  ============*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 1002;
    background-color: #f8f9fa;
}

.nav-top {
    display: flex;
    width: 100%;
}

nav {
    position: relative;
    left: 0;
    top: 0;
}

.full {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============  MENU LATERAL ==============*/

.linke {
    text-decoration-line: none;
}

body.menu-close .imgss{
    background-image: url();
    background-repeat: no-repeat;
    background-size: calc(15px + 15px);
}

body.menu-close .forum_menu ul li a .titulo,
body.menu-close .pp,
body.menu-close .titulo-menu,
body.menu-close .a {
    display: none;
    transition: 0.5s;
}
body.menu-close .tabela{
    margin-left: 6em;
    transition: 0.5s;
    width: 90vw;
}

body.menu-close .forum_menu,
body.menu-close .div-navv, 
body.menu-close .div-navv{
    width: 2.8vw;
    background-image: url(../img/favicon.ico);
    background-repeat: no-repeat;
    background-size: cover;

}

.forum_menu {
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    background-color: black;
    width: 12vw;
    overflow-x: hidden;
    transition: 0.5s;
}

.forum_menu ul {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-top: 45px;
}

.forum_menu ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.forum_menu ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding-left: 7px;
    font-size: .92rem;
}

.forum_menu ul li a .fa-house {
    position: relative;
    display: block;
    min-width: 40px;
    height: 50px;
    text-align: center;
    line-height: 60px;
}

.forum_menu ul li a .fa-house {
    position: relative;
    font-size: 1rem;
    z-index: 1;
}

.forum_menu ul li a .titulo {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    font-weight: 600;
    white-space: nowrap;
}


.titulo-Dashboard{
    margin-left: 150px;
    margin-top: 75px;
}
.tabela{
    background-color: #fff;
    width: 85vw;
    position: absolute;
    top: 10vh;
    margin-left: 15em;
    padding: 10px;
    transition: 0.5s;
}
.tabela_planos{
    background-color: #fff;
    width: 85vw;
    position: absolute;
    top: 45vh;
    margin-left: 15em;
    padding: 10px;
    transition: 0.5s;
}
/*============= DASH ==============*/

.dash-big .dash-small{
    border: 20px solid black;
    border-radius: 0.4rem;
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.blocquinhos{
    width: 50%;
    position: relative;
    top: 40%;
    left: 0;
    background-color: white!important;
    padding: 10px;
    margin-left: 15em;
    margin-right: 2em;
    transition: 0.5s;

}

.form-check{
    margin-right: 2px;
}

.avatar-xs {
    height: 2rem;
    width: 2rem;
}

.rounded-circle {
    border-radius: 50%!important;
}
/*============= DASH ==============*/
.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 22px;
    right: -8px;
    height: 17px;
    width: 21px;
    border-radius: 11px;
    background-color: #0bb197;
}

.fa-house {
    position: relative;
}

.titulo-menu {
    position: absolute;
    top: -10px;
    left: 11px;
    font-size: 10px;
    color: #8590a5;
}

.titulo {
    color: #d7e4ec;
}

.imgss {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    background-position: center;
}

.div-navv {
    width: 12vw;
    height: 100%;
    background-color: black;
    transition: 0.5s;
}

.div-nav2 {
    position: relative;
    top: 7px;
    height: 100%;
    width: 5vw;
    border: none;
    padding: 0;
}

.alink {
    width: 100%;
}

.d-flex {
    position: relative;
    left: -20px;
}

.d-flex input {
    position: relative;
    left: -20px;
    border: none;
    height: 38px;
    background-color: #f1f5f7 !important;
    box-shadow: none !important;
}

.toper {
    position: relative;
    right: 0;
}
/*===========icones============*/
.home-icon {
    background-image: url();
    background-size: cover;
}
/*=================== formulario =====================*/

html,
body {
    height: 100%;
}

/*==========MODAL===========*/
.login-wrap {
    background: white;
    border-radius: 5px;
}

.backgroundModal {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 95%);
    z-index: 5;
    /* Ocultar a janela modal */
    display: none;
}

/*=====================*/
button {
    border: 0;
    outline: none;
    padding: 10px 36px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #a5a5a5;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #ffffff;

}

/*========= INPUTS ===========*/
/*=====================*/
.dv1 {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;

}

.input-container {
    left: 4rem;
    height: 50px;
    position: relative;
    width: 15vw;
}

.input {
    background: #222;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 0px 20px 0;
    width: 100%;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-45px) translateX(-10px) scale(0.95);
}

.input:not(:placeholder-shown)~.placeholder {
    color: white;
}

.input:focus~.placeholder {
    color: white;
}

/*=====================*/
.BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 8vw;
}

/*================= SELECT===============*/
.dvsec {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: center;
    border: none;
}

.dvsec:focus {
    border: none;
}