@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: darkred !important;
  }

  * {
    box-sizing: border-box;

  }

  .navbar-brand{
    padding-left: 50px !important;
  }

  .bform-inline{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: -500px !important;
  }

.login-wrap{
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;

    border: solid 1px yellow;
    background-color: black;
    border-radius: 10px;

}

.form-inline{
  position: absolute;
    right: 1rem;
}
