html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f3f3f4 !important;
}

/* ===============  MENU SUPERIOR  ============*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 1002;
    background-color: #f8f9fa;
}

.nav-top {
    display: flex;
    width: 100%;
}

nav {
    position: relative;
    left: 0;
    top: 0;
}

.full {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-src{
    color:white!important;
    background-color: black!important;

}
/*=============  MENU LATERAL ==============*/

.linke {
    text-decoration-line: none;
}

body.menu-close .imgss {
    background-image: url();
}
body.menu-close .ico1 {
    display: block!important;
    position: relative;
    background-image: url(../img/casa.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 64px;
    width: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-left: 0.71vw;
}
body.menu-close .ico2 {
    display: block!important;
    position: relative;
    background-image: url(../img/cad_list.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 64px;
    width: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-left: 0.71vw;
}
body.menu-close .ico3 {
    display: block!important;
    position: relative;
    background-image: url(../img/plan_list.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 64px;
    width: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-left: 0.71vw;
}
body.menu-close .ico4 {
    display: block!important;
    position: relative;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 64px;
    width: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-left: 0.71vw;
}


body.menu-close .forum_menu ul li a .titulo,
body.menu-close .titulo-menu,
body.menu-close .a{
    display: none;
}

body.menu-close .tabela {
    margin-left: 6em;
    transition: 0.5s;
    width: 90%;
}

body.menu-close .forum_menu,
body.menu-close .div-navv,
body.menu-close .div-navv {
    min-width: 5vw;
    max-width: 5vw;
    background-image: url(../img/adm_ico.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.forum_menu {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: black;
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
    overflow-x: hidden;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: black;

}

.forum_menu ul {
    position: absolute;
    top: 2vh;
    left: 0;
    padding-left: 5px;
    padding-top: 45px;
}

.forum_menu ul li {
    position: relative;
    list-style: none;
    width: 100%;
    min-width:100px;
    min-height: 60px;
}

.forum_menu ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: .92rem;
}

.forum_menu ul li a .fa-house {
    position: relative;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 60px;
}

.forum_menu ul li a .fa-house {
    position: relative;
    top: 2.5rem;
    font-size: 1.2rem;
    z-index: 1;
}

.forum_menu ul li a .titulo {
    line-height: 60px;
    font-weight: 600;
    white-space: nowrap;
    margin: 25px;
    padding: 5px;
}

/*============= SIDE BAR ==============*/
.titulo-menu {
    position: absolute;
    top: 10px;
    left: 11px;
    font-size: 18px;
    color: #8590a5;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000000;
}

.imgss {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    background-position: center;

}

.div-navv {
    width: 12vw;
    height: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: black;
}

.div-nav2 {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0;
}

.alink {
    width: 100%;
}

.d-flex {
    position: relative;
    left: -20px;
}

.d-flex input {
    position: relative;
    left: -20px;
    border: none;
    height: 38px;
    background-color: #f1f5f7 !important;
    box-shadow: none !important;
}

/*========== TABELA CADASTROS ===============*/

.tabela {
    width: 80%;
    position: absolute;
    top: 30vh;
    margin-left: 10vw;
    padding: 20px;
    transition: 0.5s;
    color: white;
    background-color: #000000;
}

table {
    color: white !important;
}

tr {
    border: 2px solid #ffff0059 !important;
}

td {
    border: 1px solid #ffff0059 !important;
}

th {
    border: 1px solid #ffff0059 !important;
}

.tabela_planos {
    background-color: #fff;
    width: 85vw;
    position: absolute;
    top: 45vh;
    margin-left: 15em;
    padding: 10px;
    transition: 0.5s;
}

/*========== TABELA CADASTROS ===============*/

.tabela {
    width: 80%;
    position: absolute;
    top: 30vh;
    margin-left: 10vw;
    padding: 20px;
    transition: 0.5s;

    color: white;
    background-color: #000000;
}

table {
    color: white !important;
}

tr {
    border: 2px solid #ffff0059 !important;
}

td {
    border: 1px solid #ffff0059 !important;
}

th {
    border: 1px solid #ffff0059 !important;
}

.tabela_planos {
    background-color: #fff;
    width: 85vw;
    position: absolute;
    top: 45vh;
    margin-left: 15em;
    padding: 10px;
    transition: 0.5s;
}

/*=================== formulario =====================*/

/*==========MODAL===========*/
.login-wrap {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 30vw;
    height: auto;
}

.fa-regular{
    position: relative;
    top: -2vh;
    left: 90%;
    font-size:35px;
}

.backgroundModal {
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* Ocultar a janela modal */
    display: none;
}

/*=====================*/
button {
    border: 0;
    outline: none;
    padding: 10px 36px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #a5a5a5;
    transition: all 0.5s ease;
}

button:hover {
    background-color: #ffffff;

}

/*========= INPUTS ===========*/
/*=====================*/

.form-group{
    position: relative;
    height: 50px!important;
}

.form-control {
    background: #222!important;
    color: white!important;
    font-size: 18px!important;
    height: 100%!important;
    outline: 0!important;

}

.form-control:focus~.cut,
.form-control:not(:placeholder-shown)~.cut {
    transform: translateY(8px)!important;
}

.placeholder {
    color: white!important;
    font-family: sans-serif!important;
    left: 20px!important;
    line-height: 14px!important;
    pointer-events: none!important;
    position: absolute!important;
    transform-origin: 0 50%!important;
    transition: transform 200ms, color 200ms!important;
    top: 20px!important;
}

.form-control:focus~.placeholder,
.form-control:not(:placeholder-shown)~.placeholder {
    transform: translateY(-42px) translateX(-10px) scale(0.95);
}

.form-control:not(:placeholder-shown)~.placeholder {
    color: rgb(0, 0, 0)!important;

}

.form-control:focus~.placeholder {
    color: rgb(0, 0, 0)!important;
    font-weight: 600;
    font-size: 17px;
}

/*=====================*/
.BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 8vw;
}

/*================= SELECT===============*/
.dvsec {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: center;
    border: none;
}

.dvsec:focus {
    border: none;
}