@use 'variables'

body
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: variables.$font-txt
    background-color: variables.$primary-color

/*MEU LATERAL*/

.side_menu
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 6rem
    min-width: 5rem
    box-sizing: border-box
    overflow: hidden
    box-shadow: 3px 0 0 red
    transition-duration: .5s 
    background-color: variables.$secundary-color
    
    div > .menu_ico
        color: black
        font-size: 56px
        cursor: pointer 
        margin-left: 14px

    span i 
        color: black
        font-size: 50px
        cursor: pointer 
        margin-left: 8px

    ul
        position: relative
        top: 12vh
        margin: 0
        padding: 0 
        display: flex
        flex-direction: column
        justify-content: center
        row-gap: 2rem

    ul li:hover
        background: red

    ul li
        height: 100px
        display: flex
        flex-direction: row
        column-gap: 1.5rem
        align-items: center
        padding-left: 16px
        list-style: none
        transition: .5s

    ul li > a
        display: flex
        text-decoration: none


    ul li a span > i
        margin-left: 10px
        margin-right: 10px
        color: black  
        font-size:46px

    ul li a > .menu_txt
        line-height: 70px
        white-space: nowrap
        color: variables.$primary-color   
.side_menu:focus-within 
  width: 14rem

/* FORMULARIIO DO USUARIO*/

    
.sec-border
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background-color: white
    height: 70%
    max-height: 70%
    width: 36rem

    .sec-form
        height: 100%
        width: 100%
        padding: 2rem
        display: grid
        column-gap: 1rem
        grid-template-columns: 47% 50%
        grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%
        border: 1px solid white
        background-color: black

    #item-1
        grid-column-start: 1
        grid-column-end: 3
    #item-2
        grid-column-start: 1
        grid-column-end: 3

    #item-3
        grid-column-start: 1
        grid-column-end: 3

    #item-10
        grid-column-start: 1
        grid-column-end: 3
    #item-13
        grid-column-start: 1
        grid-column-end: 3

.input__field
    width: 100%
    outline: 0
    border: 2px solid white 
    padding: 5px 0
    font-size: 1rem
    border-radius: 6px

    &:placeholder-shown ~ label
        font-size: 1.1rem
        color: black
        padding: 6px 10px 6px 10px
        position: relative
        top: -38px
        display: block
        transition: 0.4s

.input__field:focus
    ~ label
        position: relative
        top: -70px
        color: white
    // ~ #item-name
    //     position: relative
    //     top: -80px
    // ~ #item-cpf
    //     position: relative
    //     top: -80px

    // ~ #item-email
    //     position: relative
    //     top: -80px
    // ~ #item-cel
    //     position: relative
    //     top: -80px
    // ~ #item-cel-cs
    //     position: relative
    //     top: -80px
    // ~ #item-cep
    //     position: relative
    //     top: -80px
    // ~ #item-cid_es
    //     position: relative
    //     top: -80px
    // ~ #item-bairro
    //     position: relative
    //     top: -80px
    // ~ #item-rua
    //     position: relative
    //     top: -80px
    // ~ #item-numero
    //     position: relative
    //     top: -80px
.btn
    display: flex
    align-items: center
    justify-content: center
    column-gap: 2rem
